* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
  gap: 24px;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.header{
  grid-area: header;
  padding: 16px;
}

.aside{
  grid-area: aside;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  padding: 8px;
  text-align: center;
}

.user-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 100%;
  gap: 24px;
}


.module-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
}

.module {
  padding: 24px;
  background-color: whitesmoke;
  border-radius: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.136);
  transition: all .3s;
}

.module:hover {
  transform: translateY(-8px);
}

.user-module {
  color: white;
  background-color: rgb(17, 14, 37);
}

.big-module {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: lightblue;
}

.horizontal-module {
  grid-column: 2 / 4;
  background-color: lightcoral;
}

.vertical-module {
  grid-row: 4 / 6;
  grid-column: 2;
  background-color: lightgreen;
}